<div class="jumbotron jumbotron-fluid">
    <div class="container">
          <h1> Angular 6 Templte-Driven From Validation</h1>
  </div>
  <div class="container">
    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" method="POST" novalidate>
      <label class="form-group">First Name</label>
      <input type="text" name="fname" [(ngModel)]="model.fname"  #fname="ngModel" class="form-control" id="uname"  [ngClass]="{'is-invalid':f.submitted && fname.invalid}" required>
      <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback">
                  <div *ngIf="fname.errors.required">First Name is Required
                  </div>
      </div>
      
      <label class="form-group">Last Name</label>
      <input type="text" name="lname"  class="form-control" id="lname" #lname="ngModel" [(ngModel)]="model.lname" [ngClass]="{'is-invalid':f.submitted && lname.invalid}" required>
      <div *ngIf="f.submitted  && lname.ivalid" class="invalid-feedback">
            <div *ngIf="fname.errors.required">Last Name is Required</div>
            
      </div>
     
     
      <label class="form-group">Email</label>
      <input type="text" name="email"  class="form-control" id="email" #email="ngModel" [(ngModel)]="model.email"  [ngClass]="{'is-invalid':f.submitted && email.invalid}" required email>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is Required</div>
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
      </div>

      <label class="form-group">Password</label>
      <input type="password" name="Password"  class="form-control" id="password">
      <button type="submit" id="button" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
